**/target
**/.git
**/.gitignore
**/.gitattributes
**/.idea
**/.vscode
**/*.iml
**/.classpath
**/.project
**/.settings
**/.env
**/.env.*
**/*.env
**/application-local.*
**/*.log
**/logs
**/*.pid
**/*.hprof
**/node_modules
**/coverage
**/.DS_Store
**/Thumbs.db
**/*~
**/*.swp
HELP.md
README.md
